.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

body, html {
  font-size: 17px;
  @screen xl {
    font-size: 19px;
  }
}

.container {
  @apply mx-auto p-4;
}

.content p:not(:last-child) {
  @apply mb-4;
}

.content blockquote:not(:last-child) {
  @apply py-4;
}

.content blockquote {
  @apply text-lg text-center italic font-serif;
}
.content blockquote:before, .content blockquote:after {
  content: "";
  @apply border-t border-gray-300 w-16 block mx-auto my-4;
}

a:hover:not(.no-underline) {
  @apply underline;
}

.nuxt-link-exact-active:not(.transparent) {
  @apply font-bold bg-cyan text-white px-1 rounded-sm;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold leading-tight text-black font-sans;
}

h1 {
  @apply text-2xl mb-4;
  @screen lg {
    @apply text-3xl mb-6;
  }
}
h2 {
  @apply text-xl mb-3;
  @screen lg {
    @apply text-2xl mb-4;
  }
}
h3 {
  @apply text-lg mb-1;
  @screen lg {
    @apply text-xl;
  }
}

h4 {
  @apply text-base mb-1;
  @screen lg {
    @apply text-lg;
  }
}

.shape-circle {
  shape-outside: circle(50%);
}